scripts=["
    create path (nt:unstructured) /content/test
    create path (nt:unstructured) /content/test/hello
    set ACL on /content/test/hello
        allow jcr:read for everyone
    end
    set properties on /content/test/hello
        set sling:resourceType{String} to klco/test/hello
    end
    create service user servlettest
    create path (nt:unstructured) /content/test/serviceuser
    set ACL on /content/test/serviceuser
        allow jcr:read for everyone
    end
    set properties on /content/test/serviceuser
        set sling:resourceType{String} to klco/test/serviceuser
    end
    create path (nt:unstructured) /var/test
    create path (nt:unstructured) /var/test/serviceuser
    set ACL on /var/test/serviceuser
        allow jcr:read for servlettest
    end
    set properties on /var/test/serviceuser
        set message{String} to \"Hello World\"
    end
    create path (nt:unstructured) /content/test/auth
    set ACL on /content/test/auth
        allow jcr:read for everyone
    end
    set properties on /content/test/auth
        set sling:resourceType{String} to klco/test/auth
    end

"]